<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="home.css">

  <title>RamenWiki</title>
</head>

<body>
  <header>
    <img src="../../Public/Images/ramen-outline-fill.png" alt="a ramen bowl" class="logo-header">
    <h1>RamenWiki</h1>
    <div>
      <a href="">Home</a>
      <a href="">Types</a>
      <a href="">Contact</a>
    </div>
  </header>

</body>

</html>